html
    {
    height: 100%
    }
body {
    margin: 0;
    background-image: url(images/ип.jpg);
    height: 100%;
    }
/*  шапка*/
#shapka {
	width: 100%;
	height: 65px;
	background: #6a5cdc;

}
/* логотип */
#logo {
	width : 65px;
	height: 100%;
    position: relative;
    float:left;
}
#logo img {
position: absolute;
    width: 100%;
    left: 10px;
    height: 100%;
    top:1px;
}
#logo span {
    font-size: 30px;
    position: absolute;
    top: 16px;
    left: 130px;
    color: white;
}
/*меню*/
#menu {
    float:right;
    height: 100%
}
#menu a { 
    color:white;
    text-decoration: none;
    font-size: 24px;
    display: block;
    float: left;
    height: calc(100% - 18px);
    padding:18px 10px 0;
}
#menu a:hover{
    background: #b9b94a;
}

/*основной блок*/
#content {
width:600px;
height: calc(100% - 100px);
margin: 0 auto;
background: white;
overflow: hidden;
float: left;
}
/*  поиск*/
#poisk button
{
    width: 30px;
    height: 30px;
    padding: 0;
    border:none;
    background: #efeeee;
    outline: none;
    cursor: pointer;

}
/* левый блок */

#users
{
    width: 160px;
    height: 100%;
    float: left;
}
#poisk
{
    height: 30px;
    padding: 10px;
    width: 100%;
}
#poisk input
{
    background: #efeeee;
    border:none;
    height: 100%;
    margin:0;
    padding: 0;
    float:left;
    margin-right: 10px;
    width: calc(75% - 20px);
    padding:0 10px;
    outline: none;
    
  
}
#poisk button:active
{
    background: #efe060;
}
#poisk button img
{
    width: 100%;
    height: 100%;
}
/* контакты*/
#spisok
{
    height: calc(100% - 50px);
    overflow-y: auto;
}
#spisok ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}
#spisok ul li
{
    padding: 10px;
    position: relative;
    width: calc(100% - 20px);
}
#spisok ul .avatar
{
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 10px;
    /*margin: 0 0 5px 0; */
}
#spisok ul .avatar img
{
    height: 100%;
    width:100%;
}
#spisok ul li .time
{
    position: absolute;
    top: 10px;
    right: 0;
}
#spisok h2,
#spisok p
{
    margin: 0;
}
#spisok h2
{

    margin-bottom: 5px;
}
/*деделаем красивый скрол 
#spisok::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

#spisok::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
}

#spisok::-webkit-scrollbar-thumb
{
    background-color: #000000;
}

*/
#users
{
    width: 260px;
    height: 100%;
}

#spisok ul li .time
{
    top: 10px;
    right: 10px;
    position:absolute;
}
/*стили для переписки с  пользователем*/

#soobsheniya
{
    list-style : none;
    margin : 0;
    padding :0;
    width : calc(600px - 260px);
    float : right;


}

#content
{
    float : left;
}

#soobsheniya
{
    /*list-style : none;
    margin : 0;
    padding :0;*/
    width : calc(600px - 260px);
    float : right;
    height : 100%;
    overflow-y : auto;
}

#soobsheniya ul
{
    list-style : none;
    margin : 0;
    padding :0;
}

#soobsheniya ul .avatar
{
    margin-right : 10px;
    width : 60px;
    height : 60px;
    float :left;
}

#soobsheniya ul .avatar img
{
    width : 100%;
    height : 100%;
}

#soobsheniya ul h2,
#soobsheniya ul p
{
    margin : 0;
}

#soobsheniya ul .time
{
    right : 10px;
    top : 10px;
    position : absolute;
}

#soobsheniya ul li
{
    position  : relative;
    padding : 10px;
}